{% extends 'layout.html' %}


{% block body %}

<header>
   <h1>{{lecture.getTitle()}}</h1>
</header>
<div class = "container">
  <a class="btn btn-success" href="/lecture/{{lecture.getLTid()}}">You can find the lecture here</a>
  <br>
  {% if is_subbed  == False %}
    <a class ="btn btn-primary" href = "/subscribe/{{lecture.getType()}}/{{lecture.getLTid()}}">Subscribe</a>
  {% else %}
    <a class ="btn btn-danger" href = "/un_subscribe/{{lecture.getType()}}/{{lecture.getLTid()}}">Unsubscribe</a>
  {% endif %}
</div>

<article>
  {% if comments|length > 0 %}
    {% for comment in comments %}
      <br><hr>
      <p>{{comment[0].getInfo() | safe}}</p>
      <div class = "container">
        <small><p>Posted by: {{comment[1].getUsername()}}</p></small>
        <small><p>votes: {{comment[0].getVotes()}}</p></small>
        <tr>
          <td>
            <a class ="btn btn-success" href = "/upvote/{{lecture.getType()}}/{{lecture.getLTid()}}/{{comment[0].getCid()}}">+</a>
          </td>
          <td>
            <a class ="btn btn-danger" href = "/downvote/{{lecture.getType()}}/{{lecture.getLTid()}}/{{comment[0].getCid()}}">-</a>
          </td>
        </tr>
      </div>
      <hr>
      {% endfor %}
    {% else %}
      <br><hr>
      <p>No comments yet</p>
      <hr>
    {% endif %}
    <div class = "container">
      {% from "includes/_formHelp.html" import render_field %}
      <form method = "POST" action ="">
        <div class="form-group">
          {{ render_field(form.Body, class_="form-control",  id = 'editor')}}
        </div>
        <p><input class="btn btn-primary" type="submit" value="Submit">
        </form>
      </div>
</article>

{% endblock %}
