<div class = "container">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">Comp 2005</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/lectures">Lectures</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/topics">Topics</a>
          </li>
        </ul>

      <ul class = "nav navbar-nav navbar-right">
        {% if session.logged_in %}
          <li class = "nav-item"><a class="nav-link" href="/notifications">Notifications</a></li>
          <li class = "nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        {% endif %}
      </ul>
      </div>
    </nav>
</div>
